body{
    margin: 0%;
    padding: 0%;
}
#header{
    background-color: papayawhip;
    width: 99%;
    height: 97px;
    display: flex;
    border: 5px solid lightskyblue;
    justify-content: center;
    align-items: center;
}
#logo{
    background-color: #c6c7e6;
    width: 170px;
    height: 50px;
    padding: 1%;
    margin-left: 45px;
}
#co{
    color: white;
    text-align: center;
    font-weight: bold;
}
#prod{
    margin-left: auto;
    background-color: #c6c7e6;
    width: 170px;
    height: 50px;
    padding: 1%;
}

#col{
    color: white;
    text-align: center;
    font-weight: bold;
}
#team{
    margin-right: 20px;
    background-color: olivedrab;
    width: 170px;
    height: 50px;
    padding: 1%;
}
#cols{
    color: white;
    text-align: center;
    font-weight: bold;
}
#main{
    width: 64%;
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid lightskyblue;
    background-color: papayawhip;
}
#sidenav{
    background-color: papayawhip;
    width: 34%;
    height: 454px;
    border: 6px solid lightskyblue; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#lisa{
    width: 84%;
    height: 90px;
    border: 3px solid black;
    display: flex;
}
#david{
    width: 84%;
    height: 90px;
    border: 3px solid black;
    display: flex;
}
#liza{
    width: 84%;
    height: 90px;
    border: 3px solid black;
    display: flex;
}
#img1{
    height: 90px;
    width: 19%;
}
#li{
    color: blueviolet;
    font-weight: bold;
    display: inline;
}
#da{
    color: blueviolet;
    font-weight: bold;
    display: inline;
    margin-left: 404px;
}
/* #lii{
    color: blueviolet;
    font-weight: bold;
    display: inline; }*/
#bold{
    font-weight: bold;
    color: purple;
    display: inline;
}
#bol{
    font-weight: bold;
    color: purple;
}
#box{
    background-color: lightslategray;
    width: 40%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cen{
    color: white;
    text-align: center;
    font-weight: bold;
}
#combine{
    display: flex;
}
#foot{
    background-color: papayawhip;
    width: 99%;
    height: 109px;
    display: flex;
    border: 5px solid lightskyblue;
    justify-content: center;
    align-items: center;
}
#contact{
    background-color: #c6c7e6;
    width: 170px;
    height: 50px;
    padding: 1%;
}
#cont{
    color: white;
    text-align: center;
    font-weight: bold;
}
#careers{
    background-color: #da937a;
    height: 50px;
    padding: 1%;
    width: 337px;
}
#carr{
    color: white;
    text-align: center;
    font-weight: bold;
}
#about{
    background-color: olivedrab;
    height: 50px;
    padding: 1%;
    width: 170px;
}
#ab{
    color: white;
    text-align: center;
    font-weight: bold;
}
#centt{
    display: flex;
}
#img11{
    order: 1;
    height: 90px;
    width: 19%;
}